<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div id="grid_here" style="width:600px; height:400px;">
</div>
<script type="text/javascript" charset="utf-8">
    var grid = new dhtmlXGridObject("grid_here");
    grid.setImagePath("/js/codebase/imgs/");
    grid.setHeader("First name, Last name, Phone");
    grid.setInitWidths("100,100,*");
    grid.setSkin("dhx_skyblue");
    grid.init();
    grid.load("/users/"); //added !
</script>
<input type="button" value="Add" onclick="grid.addRow(grid.uid(),'new user')">
<input type="button" value="Delete" onclick="grid.deleteSelectedRows()">

